.main-section{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 40px 15px;
}

.main-section > div > img {
    width: 700px;
}

.main-section > div:first-child{
    width: 590px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-section > div:first-child > h1 {
    color: #8f5849;
    font-weight: 100;
    font-size: 55px;
    margin-bottom: 20px;
}